transformers
imageio
decord
gdown
einops
omegaconf
safetensors
wandb
accelerate
# triton
positional_encodings
opencv-python
scikit-image
deepspeed;sys_platform != "win32"
peft
ftfy
imageio[ffmpeg]
imageio[pyav]